<div class="center" style="padding-top: 4px;padding-bottom: 4px;">
<h1> Express App : {{title}}</h1>
    <form method="POST" action="{{form_action}}" id="formAddAtome">
        <table class="center">
            <tr>
                <td style="width:70%">
                    <div class="inputbox">
                        <input type="text" name="name" value="{{data.nom}}" class="form-control" />
                        <span>name</span> 
                    </div>
                    <div class="inputbox">
                        <input type="text" name="symbole" value="{{data.symbole}}" class="form-control" />
                        <span>symbole</span>
                    </div>
                    <div class="inputbox">
                        <input type="text" name="numero" value="{{data.numero}}" class="form-control" />
                        <span>numero</span>
                    </div>
                    <div class="inputbox">
                        <input type="text" name="electron" value="{{data.electron}}" class="form-control" />
                        <span>electron</span>
                    </div>
                    <div class="inputbox">
                        <input type="text" name="Masse volumique" value="{{data.masse_volumique}}" class="form-control" />
                        <span>masse volumique</span>
                    </div>
                     <div class="inputbox">
                        <input type="text" name="Masse atomique" value="{{data.masse_atomique}}" class="form-control" />
                        <span>masse atomique</span>
                    </div>
                     <div class="inputbox">
                        <button>Confirmer la {{libelle}}</button>
                    </div>
                </td>
                <td>
                    <div class="inputbox">
                        <select id="is_radioactif">
                            <option value="0">Non</option> 
                            
                            <option value="1">Oui</option>
                        </select>
                        <span>Est radioactif</span>
                    </div>
                    <div class="inputbox">
                         <button value="" type="button" id="delbtn" class="button">Supprimer l'{{del_label}}</button>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
{{!-- Script de validation du formulaire de modification --}}
<script>
    var form = document.getElementById('formAddAtome');
    form.addEventListener('submit', function (evt) {
        var actionPost = "/" + form.action.split('/')[3];
        if (actionPost == "/modifyAtome") form.action += "/{{data.id}}";
        form.submit();
    });
    var btn_del = document.getElementById('delbtn');
    btn_del.addEventListener('click', function (evt) {
        window.location = "/deleteAtome/{{data.id}}";
    });
</script>