<h1> Express App : {{title}}</h1>
<ul>
    <li>nom :.......................... {{data.nom}}</li><br/>
    <li>symbole :..................... {{data.symbole}}</li><br/>
    <li>numero :......................... {{data.numero}}</li><br/>
    <li>electron :........................... {{data.electron}}</li><br/>
    <li>Masse volumique :...................... {{data.masse_volumique}}</li><br/>
    <li>Masse Atomique :........................ {{data.masse_atomique}}</li><br/>
    <li>est radioactif :.................... {{data.is_radioactif}}</li><br/>
</ul>